/**
* ============================
*  5.0 Typography
* ============================
*/

@include placeholder {
    color: $placeholder-color;
}
h1, h2, h3,h4, h5, h6 {
  color: $font-color2;
  font-weight:$font-weight-bold;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
   color: $font-color2;
   @include transition(2s cubic-bezier(0.075, 0.82, 0.165, 1));
}
h1, h2, h3, h4, h5, h6{
   font-family: $Poppins;
    a{
      &:hover{
        color: $font-color3;
      }
    }
}
.heading-big { 
  font-size:$font-size-h1 + 16;
  line-height: floor(($font-size-h1 + 16 + 10));
  @include desktop{
    font-size:$font-size-h1 - 8;
    line-height: floor(($font-size-h1 + 10));
  }
  @include tablet{
    font-size:$font-size-h1 - 8;
    line-height: floor(($font-size-h1 + 10));
  }
}
.heading-1 { 
  font-size:$font-size-h1;
  line-height: floor(($font-size-h1 + 8));
  @include tablet{
    font-size:$font-size-h1 - 8;
  }
}
.heading-2 { 
  font-size:$font-size-h2; 
  line-height: floor(($font-size-h2 + 8));
  @include tablet{
    font-size:$font-size-h2 - 8;
    line-height: $font-size-h2; 
  }
}
.heading-3 {
  font-size: $font-size-h3; 
  line-height: floor(($font-size-h3 + 8));
  @include tablet{
    font-size:$font-size-h3 - 8;
    line-height: $font-size-h3; 
  }
}
.heading-4 {
   font-size:$font-size-h4;
   line-height: floor(($font-size-h4 + 8));
 }
.heading-5 {
   font-size: $font-size-h5;
   line-height: floor(($font-size-h5 + 8));
 }
.heading-6 {
   font-size:$font-size-h6;
   line-height: floor(($font-size-h6 + 12));
 }