---
layout: page
title: All Authors
parmalink: /authors
dark_header: false
---
<div class="row">
   {% for author in site.authors %}
   <div class="col-lg-4 col-sm-6">
      <div class="card hovercard">
         <div class="cardheader">
         </div>
         {% if author.image %}
         <div class="avatar">
            <img alt="" src="{{author.image}}">
         </div>
         {% endif %}
         <div class="info">
            <div class="title">
               <a target="_blank" href="{{author.url}}">{{author.name}}</a>
            </div>
            <div class="desc">{{author.bio}}</div>
         </div>
         <div class="bottom">
            {% if author.facebook %}
            <a class="btn btn-primary btn-twitter btn-sm" href="{{author.facebook}}">
            <i class="fab fa-facebook"></i>
            </a>
            {% endif %}
            {% if author.twitter %}
            <a class="btn btn-danger btn-sm" rel="publisher"
               href="{{author.twitter}}">
            <i class="fab fa-twitter"></i>
            </a>
            {% endif %}
            {% if author.instagram %}	
            <a class="btn btn-primary btn-sm" rel="publisher"
               href="{{author.instagram}}">
            <i class="fab fa-instagram"></i>
            </a>
            {% endif %}
         </div>
      </div>
   </div>
   {% endfor %}
</div>
