<!-- Start Footer Area -->
<footer class="footer-area bg-color2 ">
   <div class="footer-wrapper tsection-spacing  text-center">
      <div class="container">
         <ul class="footer-social list-inline">
            {% if site.dribble_url %}
            <li class="list-inline-item"><a href="{{site.dribble_url}}"><i class="fab fa-dribbble"></i> Dribbble</a></li>
            {% endif %}
            {% if site.facebook_url %}
            <li class="list-inline-item"><a href="{{site.facebook_url}}"><i class="fab fa-facebook"></i> Facebook</a> </li>
            {% endif %}
            {% if site.instragram_url %}
            <li class="list-inline-item"><a href="{{site.instragram_url}}"><i class="fab fa-instagram"></i> Instagram</a></li>
            {% endif %}
            {% if site.twitter_url %}
            <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fab fa-twitter"></i> Twitter</a></li>
            {% endif %}
            {% if site.pinterest_url %}
            <li class="list-inline-item"><a href="{{site.pinterest_url}}"><i class="fab fa-pinterest"></i> Pinterest</a></li>
            {% endif %}
         </ul>
         <form class="footer-search-form  wow bounceInUp" action="{{site.mailclimp_url}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <div class="input-group">
               <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your Email Here">
               <span class="input-group-btn">
               <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary button"><i class="fas fa-arrow-right"></i></button>
               </span>
            </div>
         </form>
         <p class="copyright-text">&copy; {{ site.time | date: '%Y' }} - {{ site.title }} | Developed by <a href="https://themeix.com">themeix</a></span>
    </p>
      </div>
   </div>
   <a href="#" class="home-top "><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->