<nav class="page-navigation">
   <ul class="pagination d-flex justify-content-between themeix-highlight">
      {% if page.previous.url %}
      <li class="page-item themeix-highlight">
         <a class="page-link next-btn" href="{{page.previous.url}}">Previous Post</a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="page-item themeix-highlight">
         <a class="page-link prev-btn" href="{{page.next.url}}">Next Post</a>
      </li>
      {% endif %}
   </ul>
</nav>