/*--------------------------------------------------------------------------
===========================
INDEX SASS
===========================
1.0 Variable
2.0 Prefix
3.0 Media Query
4.0 Base
5.0 Typography
6.0 Component
7.0 Header Area
8.0 Blog Area
9.0 Single Blog Area
10.0 Pagination Area
11.0 Contact Area
12.0 Footer Area
13.0  Home Dark

--------------------------*/

@import "base/variable";
@import "base/prefix";
@import "base/media_query";
@import "base/base";
@import "base/typography";
@import "base/component";

/**
* ============================
*  7.0 Header Area
* ============================
*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 9999999;
	right: 0;
	bottom: 0;
}
#preloader-status {
	height: 100%;
	width: 100%;
	background: url(../images/preloader.gif);

	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	position: absolute;
}


 

.slicknav_menu {
	display: none;
}

@media screen and (max-width: 991px) {
	#header-menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
	}
}

.header-nav {
	position: absolute;
    left: 0;
    right: 0;
	top: 65px;
	z-index: 1000;
  @include desktop{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
	z-index: 100;
	background-color:  #fff; 
    height: 50px;
  }
  @include tablet{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
	z-index: 100;
	background-color: #fff;
    height: 50px;
  }
}

.header-logo {
	margin: 12px 0;
	display: block;
	z-index: 10;
	@include desktop {
		position: fixed;
		top: 0;
		left: 15px;
		z-index: 1000;
	}
	@include tablet {
		position: fixed;
		top: 0;
		left: 15px;
		z-index: 1000;
	}img {
	max-height:40px;
}
}

#header-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	float: right;
	visibility: hidden;
	@include transition(2s cubic-bezier(0.075, 0.82, 0.165, 1)); 
	opacity: 0;
	margin-right: 90px;
	>li {
		float: left;
		position: relative;
		color: $font-color2;
		font-weight: $font-weight-semi;
		padding: 15px 18px;
		cursor: pointer;
		@include transition(2s cubic-bezier(0.075, 0.82, 0.165, 1));
		&:hover {
			color: $font-color3;
		}
		ul {
			box-shadow: $box-shadow-default;
			position: absolute;
			right: auto;
			top: 100%;
			margin-top: 30px;
			background-color: $bg-color-default;
			min-width: 230px;
			border-top: 4px solid $border-color;
			z-index: 999;
			visibility: hidden;
			opacity: 0;
			@include transition(2s cubic-bezier(0.075, 0.82, 0.165, 1));
			li {
				padding: 0px 30px;
				a {
					color: $font-color2;
					display: block;
					font-size: 14px;
					font-weight: 400;
					border-bottom: $border-solid $border-color;
					padding: 12px 0px;
					margin: 0;
					text-align: left;
					text-transform: capitalize;
					@include transition(2s cubic-bezier(0.075, 0.82, 0.165, 1));
					&:hover {
						padding-left: 10px;
					}
				}
				&:last-child {
					a {
						border-bottom: 0;
					}
				}
			}
		}
		>a {
			color: $font-color2;
			font-weight: $font-weight-semi;
			&:hover {
				color: $font-color3;
			}
		}
		&:hover {
			ul {
				display: block;
				margin-top: 0;
				visibility: visible;
				opacity: 1;
			}
		}
	}
	ul {
		padding: 5px;
		margin: 0;
		list-style: none;
		>li {
			margin: 0;
			padding: 0;
		}
	}
}

.search-modal {
	@include desktop {
		display: none!important;
	}
	@include tablet {
		display: none!important;
	}
}
.has-search {
	.form-control {
		padding-left: 2.375rem;
	}
	.form-control-feedback {
		position: absolute;
		z-index: 2;
		display: block;
		width: 2.375rem;
		height: 2.375rem;
		line-height: 2.375rem;
		text-align: center;
		pointer-events: none;
		color: #aaa;
	}
}

.jekyll-search-contents {
	h2 {
		font-size: 18px;
		margin: 0;
	}
	p {
		margin: 0;
		font-size: 13px;
		display: inline-block;
		padding: 0;
		color: #868686;
		line-height: 1.6;
	}
}
li.jekyll-search-item {
	line-height: ld;
	list-style: none;
	display: block;
	float: left;
	width: 100%;
	padding-bottom: 10px;
	margin: 0;
	padding-left: 0;
	img {
		float: left;
		width: 75px;
		margin-right: 10px;
	}
	.jekyll-search-contents {
		float: left;
		width: calc(100% - 85px);
	}
	a:hover h2 {
		color:$bg-color2;
	}
}
ul#results-container {
	padding: 0;
}

#header-menu.active {
	visibility: visible;
	margin-right: 110px;
	opacity: 1;
}
.slicknav_menu .slicknav_icon-bar {
    -webkit-box-shadow: 0 1px 0 rgb(0, 0, 0);
    -moz-box-shadow: 0 1px 0rgb(0, 0, 0);
    box-shadow: 0 1px 0 rgb(0, 0, 0);
}
.collapse-btn {
	width: 45px;
	height: 45px;
	background-color: transparent;
	border: 0;
	margin: 11px 0;
	position: absolute;
	right: 15px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	.collapse-bar {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $font-color2;
		border-radius: $border-radius;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2) {
			top: 18px;
		}
		&:nth-child(3) {
			top: 36px;
		}
	}
	&.open .collapse-bar {
		background-color: $font-color3;
		&:nth-child(1) {
			top: 18px;
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
		}
		&:nth-child(2) {
			opacity: 0;
			left: -60px;
		}
		&:nth-child(3) {
			top: 18px;
			-webkit-transform: rotate(-135deg);
			-moz-transform: rotate(-135deg);
			-o-transform: rotate(-135deg);
			transform: rotate(-135deg);
		}
	}
	&:hover {
		.collapse-bar {
			background-color: $font-color-default;
		}
	}
	@include desktop {
		display: none;
	}
	@include tablet {
		display: none;
	}
}
.title-negative-margin {
    margin-top: -100px;
}
.header-banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	overflow: hidden;
	    height: 100vh;
		min-height:600px;
	position: relative;
	@include tablet{
		background-attachment: scroll;
	}
}



.slider-box, .blog-title-box {
	background: $bg-color-default;
	padding: 60px;
	z-index: 10;
	position: relative;
 
	text-align: center;
	@include desktop {
		margin-top: 160px;
		margin-bottom: 130px;
		padding: 40px;
	}
	@include tablet {
		margin-top: 160px;
		margin-bottom: 130px;
		padding: 30px;
	}
}

.slider-item { 
	margin-top: 15px;
	h1 {
		margin: 15px 0 15px 0;
	}
	.slider-date {
		font-weight: $font-weight-medi;
		font-size: $font-size-small;
		text-transform: uppercase;
		li {
			margin: 0 15px;
			position: relative;
			&:before {
				content: "|";
				position: absolute;
				right: -18px;
				opacity: 0.2;
			}
			&:last-child {
				&:before {
					display: none;
				}
			}
		}
	}
}

.author-slider-item {
	h1,
	h2 {
		margin-bottom: 15px;
	}
	.author-social {
		li {
			a {
				color: $placeholder-color;
				&:hover {
					color: $font-color3;
				}
			}
		}
	}
}

.author-carousel {
	.owl-dots {
		height: 50px;
		display: block;
		vertical-align: middle;
		margin-bottom: 10px;
		.owl-dot {
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: $border-radius-round;
			overflow: hidden;
			margin: 0 10px;
			vertical-align: middle;
			position: relative;
		}
		.owl-dot.active {
			width: 50px;
			height: 50px;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: $overlay-color;
				z-index: 2;
			}
		}
	}
}

.header-page-title {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	overflow: hidden;
	position: relative;
	min-height: 790px;
	@include tablet{
		background-attachment: scroll;
		min-height: 690px;
	}
}

.page-title-box { 
	 
	padding: 90px 160px;
	z-index: 10;
	position: relative;
	box-shadow: $box-shadow-default;
	text-align: center;
	h1,
	h2 {
		margin-bottom: 20px;
		@include desktop {
			margin-bottom: 25px;
		}
		@include tablet {
			margin-bottom: 25px;
		}
	}
	p{
		margin: 0;
	}
	@include desktop {
		margin-top: 270px;
		margin-bottom: 90px;
		padding: 60px 70px;
	}
	@include tablet {
		margin-top: 170px;
		margin-bottom: 90px;
		padding: 40px 30px;
	}
}
.page-title-meta li {
	&:after {
		content: "/";
		padding-left: 10px;
	}
	&:last-child:after {
		display: none;
	}
}
 

.slider-carousel { 
     .owl-dots {
         height: 28px;
         margin: 0;
         .owl-dot {
             height: 20px;
             width: 5px;
             background-color: $bg-color3;
             border-radius: $border-radius-round;
             margin: 0 5px;
             vertical-align: middle;
             @include transition(2s cubic-bezier(0.075, 0.82, 0.165, 1));
        }
         .active {
             height: 28px;
             background-color: $bg-color2 
        }
    }
}
 
 
 .slicknav_menu {
     position: fixed;
     left: 0;
     top: 5px;
     right: 0;
     z-index: 1000;
     background-color: transparent;
     .slicknav_btn {
         background-color: transparent;
    }
}
 .slicknav_nav {
     margin: 0;
     padding: 12px;
     list-style: none;
     overflow: hidden;
     background-color: $bg-color-default;
}
 .header-nav-white{
     #header-menu{
         > li{
             color: $font-color4;
             > a{
                 color: $font-color4;
                 &:hover{
                     color: $font-color-default;
                }
            }
        }
         .search-modal img{
             filter: brightness(0) invert(1);
        }
    }
    .header-logo img {
         filter: brightness(0) invert(1);
         max-height:40px;
         @include desktop{
             filter:inherit;
        }
         @include tablet{
             filter:inherit;
        }
         @include mobile{
             filter:inherit;
        }
    }
     .collapse-btn .collapse-bar {
         background-color: $bg-color-default;
    }
}
 .fixed-nav {
     position: fixed;
     left: 0;
     right: 0;
     z-index: 100;
     top: 0;
     padding: 10px 0px;
     background: $bg-color-default;
     box-shadow: $box-shadow-hover;
     @include desktop{
         background:#fff;
    }
     @include tablet{
         background:#fff;
    }
     #header-menu>li ul {
         top: 115%;
    }
     #header-menu{
         > li{
             color: $font-color-default;
             > a{
                 color: $font-color-default;
                 &:hover{
                     color: $font-color-default;
                }
            }
        }
         .search-modal img{
              filter: inherit;
             
        }
    }
     .header-logo img {
         filter: inherit;
         max-height:25px;
    }
     .collapse-btn .collapse-bar {
         background-color: $bg-color2;
    }
}
 



/**
* ============================
*  8.0 Blog Area
* ============================
*/

.blog-style {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	position: relative;
	height: 100vh;
	overflow: hidden;&:before {
		content:'';	 
    background: url(../images/dot-bg.png);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 
		}
	.blog-content {		
		position: relative;
		z-index: 10;
		max-width: 65%;
		padding-bottom:60px;
		    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
	    margin-bottom: 60px;
    border-left: 10px solid white;
		h1 {
			margin: 15px 0 25px 0;
		}
		.blog-date {
			font-weight: $font-weight-medi;
			font-size: $font-size-small;
			text-transform: uppercase;
			margin-bottom: 0;
			li {
				margin: 0 15px;
				position: relative;
				&:before {
					content: "|";
					position: absolute;
					right: -18px;
					opacity: 0.2;
				}
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					&:before {
						display: none;
					}
				}
			}
		}
		.blog-read-more {
			font-weight: $font-weight-medi;
			font-size: $font-size-small;
			text-transform: uppercase;
			color: $font-color-default;
			i {
				margin-left: 8px;
				@include transition(2s cubic-bezier(0.075, 0.82, 0.165, 1));
			}
			&:hover {
				color: $font-color3;
				i {
					margin-left: 15px;
				}
			}
		}
		@include desktop {
			margin-top: 470px;
			max-width: 100%;
		}
		@include tablet {
			margin-top: 370px;
			max-width: 100%;
		}
	}
}
.light-text.blog-content {
	ul {
		color: #fff;
	}
	.blog-read-more {
		color: #fff;
		i {
			color: #fff;
		}
	}
	h2 a {
		color: #fff;
	}
}
.blog-right {
	float: right !important;
}

.card {
	padding-top: 20px;
	margin: 10px 0 20px;
 
	 
	  
	
	box-sizing: border-box;
	.card-heading {
		padding: 0 20px;
		margin: 0;
		&.simple {
			font-size: 20px;
			font-weight: 300;
			color: #777;
			border-bottom: 1px solid #e5e5e5;
		}
		&.image {
			img {
				display: inline-block;
				width: 46px;
				height: 46px;
				margin-right: 15px;
				vertical-align: top;
				border: 0;
			
				border-radius: 50%;
			}
			.card-heading-header {
				display: inline-block;
				vertical-align: top;
				h3 {
					margin: 0;
					font-size: 14px;
					line-height: 16px;
					color: #262626;
				}
				span {
					font-size: 12px;
					color: #999999;
				}
			}
		}
	}
	.card-body {
		padding: 0 20px;
		margin-top: 20px;
	}
	.card-media {
		padding: 0 20px;
		margin: 0 -14px;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.card-actions {
		min-height: 30px;
		padding: 0 20px 20px;
		margin: 20px 0 0;
	}
	.card-comments {
		padding: 20px;
		margin: 0;
		background-color: #f8f8f8;
		.comments-collapse-toggle {
			padding: 0;
			margin: 0 20px 12px;
			a {
				padding-right: 5px;
				overflow: hidden;
				font-size: 12px;
				color: #999;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			span {
				padding-right: 5px;
				overflow: hidden;
				font-size: 12px;
				color: #999;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	&.people {
		position: relative;
		display: inline-block;
		width: 170px;
		height: 300px;
		padding-top: 0;
		margin-left: 20px;
		overflow: hidden;
		vertical-align: top;
		&:first-child {
			margin-left: 0;
		}
		.card-top {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 170px;
			height: 150px;
			background-color: #ffffff;
			&.green {
				background-color: #53a93f;
			}
			&.blue {
				background-color: #427fed;
			}
		}
		.card-info {
			position: absolute;
			top: 150px;
			display: inline-block;
			width: 100%;
			height: 101px;
			overflow: hidden;
			background: #ffffff;
		
			box-sizing: border-box;
			.title {
				display: block;
				margin: 8px 14px 0;
				overflow: hidden;
				font-size: 16px;
				font-weight: bold;
				line-height: 18px;
				color: #404040;
			}
			.desc {
				display: block;
				margin: 8px 14px 0;
				overflow: hidden;
				font-size: 12px;
				line-height: 16px;
				color: #737373;
				text-overflow: ellipsis;
			}
		}
		.card-bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			padding: 10px 20px;
			line-height: 29px;
			text-align: center;
		
			box-sizing: border-box;
		}
	}
	&.hovercard {
		position: relative;
		padding-top: 0;
		overflow: hidden;
		text-align: center;
		background-color: rgba(214, 224, 226, 0.2);
		.cardheader {
		 
			height: 20px;
		}
		.avatar {
			position: relative;
			img {
				width: 100px;
				height: 100px;
				max-width: 100px;
				max-height: 100px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 50%;
				border: 5px solid rgba(255,255,255,0.5);
			}
		}
		.info {
			padding: 4px 8px 10px;
			.title {
				margin-bottom: 4px;
				font-size: 24px;
				line-height: 1;
				color: #262626;
				vertical-align: middle;
			}
			.desc {
				overflow: hidden;
				font-size: 12px;
				line-height: 20px;
				color: #737373;
				text-overflow: ellipsis;
			}
		}
		.bottom {
			padding: 0 20px;
			margin-bottom: 17px;
		}
	}
}
 
.card-comments .media-heading {
	font-size: 13px;
	font-weight: bold;
}



.author-style {
	width: 100%;
	margin-bottom: $inn-default;
	    background-size: cover;
    background-position: center center;
	.author-shap {
		width: 200px;
		height: 100%;
		position: absolute;
		left: -100px;
		top: 0;
		bottom: 0;
		@include transform (skew(-20deg, 0deg));
		@include transition(0.5s cubic-bezier(0.075, 0.82, 0.165, 1));
		@include tablet {
			display: none;
		}
	}
	.author-content {
		width: 40%;
		padding: 30px 0;
		float: left;
		position: relative;
		.author-title {
			position: relative;
			text-align: center;
			padding-right: 60px;
			h2,
			h3,
			h4 {
				a {
					 
					&:hover {
					 
					}
				}
			}
			p {
				 
			}
			@include tablet {
				padding-right: 0;
			}
		}
		@include tablet {
			width: 100%;
			padding: 30px 0;
			opacity: 0.9;
		}
	}
	&:hover {
		.author-shap {
			@include transform (skew(0deg, 0deg));
		}
	}
}

 

/**
* ============================
*  9.0 Single Blog Area 
* ============================
*/

.sub-title {
	margin-bottom: 45px;
	position: relative;
	&:before {
		content: "";
		width: 40px;
		height: 2px;
		background-color: $bg-color2;
		display: block;
		position: absolute;
		bottom: -5px;
	}
	&:after {
		content: "";
		width: 25px;
		height: 2px;
		background-color: $bg-color2;
		display: block;
		position: absolute;
		bottom: -10px;
	}
}
.entry-content{
	blockquote {
    padding: 0 20px;
    margin: 30px 0;
    border-left: 5px solid $bg-color2;
	 
	 
	}
}


.single-comment-img {
	position: relative;
	width: 60px;
	height: 34.64px;
	margin: 17.32px 0;
	background-size: auto 69.2820px;
	background-position: center;
	.top,
	.bottom {
		position: absolute;
		z-index: 1;
		width: 42.43px;
		height: 42.43px;
		overflow: hidden;
		-webkit-transform: scaleY(0.5774) rotate(-45deg);
		-ms-transform: scaleY(0.5774) rotate(-45deg);
		transform: scaleY(0.5774) rotate(-45deg);
		background: inherit;
		left: 9.79px;
	}
	.top:after,
	.bottom:after {        
		content: "";
		position: absolute;
		width: 60.0000px;
		height: 34.64101615137755px;
		-webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-17.3205px);
		-ms-transform: rotate(45deg) scaleY(1.7321) translateY(-17.3205px);
		transform: rotate(45deg) scaleY(1.7321) translateY(-17.3205px);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		background: inherit;
	}
	.top {
		top: -21.2132px;
		&:after {
			background-position: center top;
		}
	}
	.bottom {
		bottom: -21.2132px;
		&:after {
			background-position: center bottom;
		}
	}
	&:after {
		content: "";
		position: absolute;
		top: 0.0000px;
		left: 0;
		width: 60.0000px;
		height: 34.6410px;
		z-index: 2;
		background: inherit;
	}
}

.page-navigation {
	.pagination {
		margin-bottom: 40px;
	}
	.next-btn,
	.prev-btn {
		font-size: $font-size-default;
		font-weight: $font-weight-default;
		color: $font-color-default;
		border-radius: 0;
		border: 0;
		padding: 0;
		background: transparent;
	}
	.next-btn:hover {
		color: $font-color3;
		background: transparent;
	}
	.prev-btn:hover {
		color: $font-color3;
		background: transparent;
	}
}

.single-comment {
	display: table;
	width: 100%;
	margin-bottom: 30px;


}
.single-comment-img {
	float: left;
}
.single-comment-text {
	width: calc(100% - 68px);
	float: left;
	padding-left: 30px;
	h6 {
		.single-priod {
			font-size: 14px;
			font-weight: $font-weight-default;
			color: $placeholder-color;
			text-transform: uppercase;
			margin-left: 10px;
		}
	}
	p {
		margin-bottom: 8px;
	}
	.single-comment-btn {
		color: $font-color2;
		&:hover {
			color: $font-color3;
		}
	}
}
.comment-wrapper {
	padding-left: 50px;
}

.single-tag {
	text-align: center;
	margin-bottom: 48px;
	li {
		a {
			padding: 5px 15px;
			border-radius: $border-radius-round;
			color: $font-color4;
			display: block;
		}
	}
}

.single-social {
	text-align: center;
	margin:0;
	li {
		margin: 0 20px;
		position: relative;
		a {
			color: $font-color-default;
			i {
				margin-right: 5px;
			}
		}
		&:before {
			content: "-";
			position: absolute;
			right: -18px;
			@include color($font-color2, 0.8);
			opacity: 0.2;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
	}
}

.admin-avatar {
	position: relative;
	width: 120px;
	height: 69.28px;
	margin: auto;
	background-size: auto 138.5641px;
	background-position: center;
	bottom: 35px;
	.top,
	.bottom {
		position: absolute;
		z-index: 1;
		width: 84.85px;
		height: 84.85px;
		overflow: hidden;
		-webkit-transform: scaleY(0.5774) rotate(-45deg);
		-ms-transform: scaleY(0.5774) rotate(-45deg);
		transform: scaleY(0.5774) rotate(-45deg);
		background: inherit;
		left: 17.57px;
	}
	.top:after,
	.bottom:after {
		content: "";
		position: absolute;
		width: 120.0000px;
		height: 69.2820323027551px;
		-webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
		-ms-transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
		transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		background: inherit;
	}
	.top {
		top: -42.4264px;
		&:after {
			background-position: center top;
		}
	}
	.bottom {
		bottom: -42.4264px;
		&:after {
			background-position: center bottom;
		}
	}
	.border {
		position: relative;
		width: 120px;
		height: 69.28px;
		background-color: $bg-color-default;
		margin: auto;
		top: 3px;
		left: -1px;
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 0;
			border-left: 60px solid transparent;
			border-right: 60px solid transparent;
		}
		&:before {
			bottom: 100%;
			border-bottom: 34.64px solid $bg-color-default;
		}
		&:after {
			top: 100%;
			width: 0;
			border-top: 34.64px solid $bg-color-default;
		}
	}
	&:after {
		content: "";
		position: absolute;
		top: 0.0000px;
		left: 0;
		width: 120.0000px;
		height: 69.2820px;
		z-index: 2;
		background: inherit;
	}
}

.single-admin {
	background-color: $bg-color2;
	margin: 70px 0px 48px;
	.admin-comment {
		text-align: center;
		padding: 30px 60px;
		h4,
		h5,
		h6,
		p,
		h4 a {
			color: $font-color4;
		}
		h6 {
			font-weight: $font-weight-default;
		}
		p {
			margin-bottom: 50px;
		}
	}
	.admin-social {
		margin: 0;
		li {
			margin: 0 20px;
			position: relative;
			&:before {
				content: "/";
				position: absolute;
				right: -18px;
				color: $font-color4;
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				&:before {
					display: none;
				}
			}
			a {
				color: $font-color4;
				i {
					margin-right: 5px;
				}
			}
		}
	}
}

.bug-content {
	padding-top: 100px;
	@include desktop{
		padding-top: 80px;
	}
	@include tablet{
		padding-top: 60px;
	}
	.bug-heading {
		font-size: 83px;
		line-height: 30px;
		margin-bottom: 120px;
		color: $font-color-default;
		@include desktop {
			font-size: 50px;
			margin-bottom: 100px;
		}
		@include tablet {
			font-size: 40px;
			margin-bottom: 60px;
		}
	}
}

.order-list {
	padding: 0;
	list-style-position: inside;
	counter-reset: item;
	list-style-type: decimal-leading-zero;
}

.unorder-list {
	padding: 0;
	list-style: none;
	li {
		position: relative;
		padding-left: 20px;
		&:before {
			content: "\f00c";
			font-family: "FontAwesome";
			color: $font-color-default;
			position: relative;
			position: absolute;
			left: 0;
			margin-top: 1px;
			font-size: 12px;
		}
	}
}


/**
* ============================
*  10.0 Pagination Area
* ============================
*/

.page-pagination .pagination {
	text-align: center;
	display: block;
	margin: 0;
	li {
		display: inline-block;
		margin-right: 10px;
		a {
			background-color: transparent;
			font-size: 20px;
			font-weight: 600;
			@include color($font-color4, 0.5);
			border: 0;
			padding: 5px 15px;
			&.active,
			&:hover {
				@include color($font-color4, 0.9); 
			}
			&:first-child,
			&:last-child {
				border-radius: 0;
			}
		}
	}
}


/**
* ============================
*  11.0 Contact Area
* ============================
*/

.form-style {
	border: 0;
	width: 100%;
	.form-group {
		margin-bottom: 15px;  
		.form-control {
			padding: 10px 15px;
			border: $border-solid $placeholder-color;
			border-radius: 0;
			width: 100%;
			background-color: $bg-color-default;
			color: $placeholder-color;
			&:focus {
				border: $border-solid $border-color;
			}
		}
		button[type="submit"] {
			position: relative;
		}
		.input-label {
			margin-top: 5px;
			display: inline-block;
			font-size: 14px;
			color: $placeholder-color;
		}
	}
}

.contact-info {
	background-color: $bg-color3;
	margin-top: 32px;
	@include tablet {
		margin-bottom: 30px;
	}
}

.contact-info-logo {
	position: relative;
	width: 60px;
	height: 34.64px;
	background-color: $bg-color2;
	margin: auto;
	margin-bottom: 30px;
	bottom: 15px;
	img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.contact-info-logo:before,
.contact-info-logo:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}

.contact-info-logo:before {
	bottom: 100%;
	border-bottom: 17.32px solid $bg-color2;
}

.contact-info-logo:after {
	top: 100%;
	width: 0;
	border-top: 17.32px solid $bg-color2;
}

.contact-info-content {
	padding: 0px 30px 40px;
	text-align: center;
	p {
		margin: 0;
		a {
			color: $font-color-default;
			&:hover {
				color: $font-color3;
			}
		}
	}
}

#zsfeedbkrpanel {
	max-width:100% !important;
	width:100% !important;
  }

.contact-area #zsfeedbackFrame {
	width:100% !important;
}

.contact-area iframe {
  	display: inline-block;
  	width: 100% !important;
  }


/**
* ============================
*  12.0 Footer Area
* ============================
*/

.footer-search-form {
	border-radius: $border-radius-round;
	border:$border-solid $border-color3; 
	padding: 10px 15px;
	margin-bottom: 70px;
	input[type="email"] {
		@include color($font-color4, 0.8);
		border-radius: 0;
		border: 0;
		background-color: transparent;
		padding: 12px 15px;
	}
	button {
		border-radius: 0;
		border: 0;
		background-color: transparent;
		padding: 12px 15px;
		color: $font-color4;
		&:hover,
		&:focus,
		&:active {
			background-color: transparent !important;
			color: $font-color4 !important;
		}
	}
	@include tablet {
		margin-bottom: 30px;
	}
}

.footer-search-form {
	@include placeholder {
		color: $font-color4;
	}
}

.footer-social {
	margin-bottom: 40px;
	li {
		margin: 0 20px;
		position: relative;
		&:before {
			content: "-";
			position: absolute;
			right: -18px;
			@include color($font-color4, 0.8)
			opacity: 0.2;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
		a {
			@include color($font-color4, 0.8);
			&:hover {
		@include color($font-color4, 0.5) 
	}
			i {
				margin-right: 5px;
			}
		}
	}
}

.copyright-text {
	margin: 0;
	@include color($font-color4, 0.5)
	padding-bottom: 40px;
	a {
		@include color($font-color4, 0.9);
		&:hover {
		@include color($font-color4, 0.5) 
	}
	}
}



.page-item {
	i{
		@include color($font-color4, 0.5);
	}
}
.text-white {
a{
color: #fff;
}
}